<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% if user.is_authenticated %}
        <p>You are logged in as <strong>{{ user.username }}</strong></p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="favorite styled" type="submit">Add to favorites</button>
    </form>
    <a href="registration">Go to Registration</a>
    <a href="login">Go to Login</a>
    <a href="logout">Go to Logout</a>
    {% for item in alerts %}
        <p>{{ item.user }}<p>
        <h2>{{ item.crypto }}</h2>
        <p>{{ item.alert_price }}</p>
        <p>{{ item.now_price }}</p>

        <form action="{% url 'delete-alert' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Видалити</button>
        </form>
    {% endfor %}
</body>
</html>
